@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Custom-1';
  src: url('/font/MontserratAlternates-Black.ttf');
}

@font-face {
  font-family: 'Custom-2';
  src: url('/font/MontserratAlternates-BlackItalic.ttf');
}

@font-face {
  font-family: 'Custom-3';
  src: url('/font/MontserratAlternates-LightItalic.ttf');
}

@font-face {
  font-family: 'Custom-4';
  src: url('/font/MontserratAlternates-Regular.ttf');
}

@font-face {
  font-family: 'Custom-5';
  src: url('/font/MontserratAlternates-SemiBold.ttf');
}

@font-face {
  font-family: 'Custom-6';
  src: url('/font/MontserratAlternates-Thin.ttf');
}

@font-face {
  font-family: 'Custom-7';
  src: url('/font/MontserratAlternates-Italic.ttf');
}

@font-face {
  font-family: 'Custom-8';
  src: url('/font/MontserratAlternates-BoldItalic.ttf');
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#heightContainer {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 4rem; */
}
.sub-container {
  /* height: 15rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1.1rem;
  /* background: #191b28; */
  /* box-shadow: inset 11px 11px 22px #0a0b10, inset -11px -11px 22px #282b40; */
}
.audio-image {
  height: 10rem;
  width: 18vw;
  border-radius: 10px;
  margin: 2rem 0;
  border: 0.2rem solid white;
}
.sub-container p {
  color: #fff;
  margin: 0.5rem 0;
  font-size: 0.8rem;
}
.wavesurfer-container {
  margin: 1rem 0;
}
.wavesurfer-controls {
  display: flex;
  margin-top: 1.5rem;
}
.wavesurfer-controls button {
  font-size: 1.5rem;
  color: #6e56cf;
  margin: 0 0.5rem;
}

.wavesurfer-controls button:nth-child(1),
.wavesurfer-controls button:nth-child(4) {
  border-radius: 2rem;
  padding: 0.8rem;
  outline: 2px solid #7427f7;
  /* background: #191b28; */
  /* box-shadow: inset 11px 11px 22px #0a0b10, inset -11px -11px 22px #282b40; */
}

.wavesurfer-controls button:nth-child(2),
.wavesurfer-controls button:nth-child(3) {
  border-radius: 2rem;
  padding: 0.8rem;
  background: #141c3a;
  outline: 2px solid #7427f7;
  /* background: #191b28; */
  /* box-shadow: inset 11px 11px 22px #0a0b10, inset -11px -11px 22px #282b40; */
}

.text {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 800;
  font-style: italic;
}

#title {
  z-index: 30;
}

#steel {
  color: #000;
  border-radius: 4px;
  background: linear-gradient(
    45deg,
    #999 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border: 3px solid #0f0f0f30;
  position: absolute;
  z-index: 100;
}

#innerPlatform {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#rivet {
  height: 15px;
  width: 15px;
  background: radial-gradient(#fff, #ccc, #999, #0f0f0f60);
  border-radius: 100%;
}

#base {
  width: 140px;
  height: 20px;
  background: linear-gradient(
    45deg,
    #ddd 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border-left: 3px solid #0f0f0f30;
  border-right: 3px solid #0f0f0f30;
  border-bottom: 3px solid #0f0f0f30;
  position: absolute;
  bottom: 70;
  margin-top: 3px;
  right: 30%;
  z-index: 30;
  border-radius: 0 0 100% 100%;
}

#knuckle {
  width: 80px;
  height: 20px;
  background: linear-gradient(
    45deg,
    #ddd 5%,
    #fff 10%,
    #ccc 30%,
    #ddd 50%,
    #ccc 70%,
    #fff 80%,
    #999 95%
  );
  border-left: 3px solid #0f0f0f30;
  border-right: 3px solid #0f0f0f30;
  border-bottom: 3px solid #0f0f0f30;
  position: absolute;
  bottom: 70;
  margin-top: 21px;
  right: 39%;
  z-index: 10;
  border-radius: 0 0 100% 100%;
}

#lift {
  width: 20px;
  height: 700px;
  background: #000000;
  position: absolute;
  right: 47.5%;
  top: 90%;
  z-index: 10;
  border: 3px solid #999;
}

.flame {
  width: 100px;
  height: 100px;
  background: linear-gradient(-45deg, red, orange);
  border-radius: 150px 150px 0px 150px;
  transform: rotate(-135deg);
  animation: 0.1s flame infinite;
  filter: blur(10px);
  box-shadow: 17px 20px 90px #700;
  border: 45px solid black;
  border-left-width: 25px;
  border-top-width: 25px;
  transform: rotate(50deg);
  position: absolute;
  margin-top: 25px;
  right: 37%;
  z-index: 0;

  &:after,
  &:before {
    content: '';
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
    background: linear-gradient(-45deg, red, orange);
    animation: 0.2s flame infinite;
    transform: scale(0.8) rotate(20deg);
    border-radius: 100px 100px 0px 100px;
    top: 20px;
  }
  &:before {
    top: 0;
    animation-duration: 0.09s;
    transform: scale(0.9) rotate(-15deg) translate(10px, 0px);
  }
}

@keyframes flame {
  0% {
    height: 100px;
    width: 100px;
  }
  50% {
    height: 90px;
    width: 90px;
  }
  100% {
    height: 100px;
    width: 100px;
  }
}
